body{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/background-3);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.brain{
  width: 100%;
  height: 98vh;
  padding-left: 20%;
  padding-right: 8%;
}


header .navbar{
    background-color: #212121;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

header .navbar h1{
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

main  h2{
    color: #fff;
}

header .navbar{
    display: flex;
    justify-content: center;
}

.choose{
    color: #fff;
    font-size: 25px;
    margin: 20px;
}

.container2{
  margin: 40px;
}

input{
    background-color: #9c9494;
    border-radius: 20px;
    border: none;
    padding: 5px;
    font-size: 20px;
}

button{
    border-radius: 20px;
    border: none;
    font-size: 13px;
    background-color: black;
    color: #fff;
    padding: 11px;
    margin: 20px;
    
}

#recept{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    width: 20%;
    background-color: #ffffff88;
    border-radius: 10px;
    padding: 35px;
}



#recept ul li{
    list-style: none;
    padding: 8px;
    font-size: 18px;
    text-align: center;
    transform: translateX(-15px);
    
}

/* checkbox */

  .heart {
    visibility: hidden;
  }
  
 .heart1{
  display: flex;
  color: #aab8c2;
  cursor: pointer;
  font-size: 3em;
  padding: 20px;
  }
  
  .heart1:hover {
    color: grey;
  }
  
  .heart1::selection {
    color: none;
    background: transparent;
  }

  
  .heart:checked + label {
    color: #e2264d;
  }

  
  @keyframes heart {0%, 17.5% {font-size: 0;}}
  
  .none{
    display: flex;
    font-size: 25px;
    justify-content: center;
    margin: 50px;
    color: #fff;
  }


#result{
  color: #fff;
  cursor: pointer;
}

#selectedItemsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-right: 100px;
}

#recept {
  position: relative;
}

#recept .checkbox-container {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 15px;
  left: 85px;
  font-size: 1rem;
  }

#recept .img{
  width: 250px;
  height: 200px;
  padding: 15px;
  border-radius: 30px;
}

.nickname{
  font-size: 25px;
  
}

@media(max-width:1669px){
  #recept .img{
   width: 200px;
   height: 150px;
  }

  #recept .checkbox-container{
   left: 100px;
   font-size: 0.9rem;
  }
}

@media(max-width:1400px){
  #recept .img{
    width: 150px;
    height: 120px;
  }
  #recept .checkbox-container{
    left:80px;
  }

  #recept ul li{
    font-size: 15px;
  }
}

@media(max-width:1200px){  
  #recept .checkbox-container{
    left:60px;
    font-size: 0.7rem;
    bottom: -15px;
  }

  #recept .img{
    width: 130px;
    height: 100px;
  }

  #recept ul li{
    font-size: 10px;
  }

  #recept h2{
    font-size: 20px;
  }
}

@media(max-width:993px){
  #recept{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin: 30px;
    padding: 5px;
  }

  .nickname{
    font-size: 20px;
  }

  #recept img{
    width: 200px;
    height: 150px;
  } 

  #recept .checkbox-container{
    position: relative;
    font-size: 0.7rem;
    bottom: 30px;
    padding: 0px;
    left: 15px;
  }

  #recept ul li{
    font-size: 16px;
  }

  #selectedItemsContainer {
    display: block;
  }
}

@media(max-width:365px){
  #selectedItemsContainer {
    display: block;
  }

  #recept{
    width: 200px;
  }
}