body{
     background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/background-1);
     background-size: cover;
     background-position: center;
}

.brain{
    width: 100%;
    height: 98vh;
    padding-left: 20%;
    padding-right: 8%;
}

.row{
    display: flex;
    height: 88%;
}

.col{
    flex-basis: 50%;
}

h1{
    color: #fff;
    font-size: 60px;
}

h2{
    color: #fff;
    font-size: 50px;
}
/* 
.order{
    width: 150px;
    color: #000;
    font-size: 18px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
} */

.formain{
    width: 30%;
    height: 60%;
    border-radius: 30px;
    box-shadow:rgba(0, 0, 0, 0.9);
}
.formain:hover{
    width: 33%;
    height: 62%;
    transition: 0.5s;
}
.card{
    display:inline-block;
    width: 200px;
    height: 230px;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    z-index: 1;
}

.cards{
    width: 900px;
    height: 400px;
}

.card:hover{
    transform: translateY(-10px);
}

.card1{
    background-image: url(../images/card1);
}

.card2{
    background-image: url(../images/card2);
}

.card3{
    background-image: url(../images/card3);
}

.card4{
    background-image: url(../images/formain-1);
}

.card5{
    background-image: url(../images/card4);
}

.card6{
    background-image: url(../images/card5);
}

@media(max-width:997px){
    .logo{
        display:block;
    }

    .row{
        height: 50%;
    }

    .col h1{
        font-size: 40px;

    }

    .col h2{
        font-size: 20px;
    }

    .card{
        width: 100px;
        height: 150px;
    }

    nav ul li{
        line-height: 80px;
        padding: 0.1rem;
    }
}

@media(max-width:500px){
    .col h1{
        font-size: 25px;
    }

    .col h2{
        font-size: 15px;
    }

    .card{
        width: 70px;
        height: 100px;
    }

    .fa-bars{
        font-size: 15px;
    }

    nav ul li{
        line-height: 80px;
    }
   
}

@media(max-width:333px){
    .col h1{
        font-size: 15px;
    }

    .col h2{
        font-size: 10px;
    }

    .card{
        width: 50px;
        height: 80px;
    }

    .fa-bars{
        font-size: 12px;
    }

    nav ul li{
        line-height: 80px;
    }
}



