#recept{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  width:20%;
  background-color: #ffffff88;
  border-radius: 10px;
  padding: 35px;
}




#recept ul li{
  list-style: none;
  padding: 8px;
  font-size: 18px;
  text-align: center;
}

#selectedItemsContainer {
  display: flex;
  flex-wrap: wrap;
}



#recept {
position: relative;
}

.checkbox-container {
position: absolute;
bottom: -23px;
left: 100;
}

[id="heart"] {
  visibility: hidden;
}

[for="heart"] {
  display: flex;
  color: #e2264d;
  cursor: pointer;
  font-size: 3em;
  padding: 20PX;
  /* align-self: center;   */
  /* transition: color 0.2s ease-in-out; */
}

[for="heart"]:hover {
  color: #e2264d;
}

[for="heart"]::selection {
  color: none;
  background: transparent;
}


[id="heart"]:checked + label {
  color: #e2264d;
}

@keyframes heart {0%, 17.5% {font-size: 0;}}


.img{
  width: 250px;
  height: 200px;
  padding: 15px;
  border-radius: 30px;
}