body{
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/background-1);
  background-size:cover ;
  background-position: center;
  background-attachment: fixed;

}

.brain{
  width: 100%;
  height: 98vh;
  padding-left: 20%;
  padding-right: 8%;
}

#recept{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  width:20%;
  background-color: #ffffff88;
  border-radius: 10px;
  padding: 35px;  
}




#recept ul li{

  list-style: none;
  padding: 8px;
  font-size: 18px;
  text-align: center;
  transform: translateX(-15px);
}

#selectedItemsContainer {
  display: flex;
  flex-wrap: wrap;
}



#recept {
position: relative;
}

.checkbox-container {
position: absolute;
bottom: -23px;
left: 120;
}

[id="heart"] {
  visibility: hidden;
}

[for="heart"] {
  display: flex;
  color: #e2264d;
  cursor: pointer;
  font-size: 3em;
  padding: 20px;
  transform: translateX(-15px);
  /* align-self: center;   */
  /* transition: color 0.2s ease-in-out; */
}

[for="heart"]:hover {
  color: #e2264d;
}

[for="heart"]::selection {
  color: none;
  background: transparent;
}


[id="heart"]:checked + label {
  color: #e2264d;
}

@keyframes heart {0%, 17.5% {font-size: 0;}}


.img{
  width: 250px;
  height: 200px;
  padding: 15px;
  border-radius: 30px;
}

.none{
  color:#fff;
}

@media(max-width:1669px){
  #recept .img{
   width: 200px;
   height: 150px;
  }

  #recept .checkbox-container{
   left: 100px;
   font-size: 0.9rem;
  }
}

@media(max-width:1400px){
  #recept .img{
    width: 150px;
    height: 120px;
  }
  #recept .checkbox-container{
    left:80px;
  }

  #recept ul li{
    font-size: 15px;
  }
}

@media(max-width:1200px){  
  #recept .checkbox-container{
    left:60px;
    font-size: 0.7rem;
    bottom: -15px;
  }

  #recept .img{
    width: 130px;
    height: 100px;
  }

  #recept ul li{
    font-size: 10px;
  }

  #recept h2{
    font-size: 20px;
  }
}

@media(max-width:993px){
  #recept{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin: 30px;
    padding: 5px;
  }

  .nickname{
    font-size: 20px;
  }

  #recept img{
    width: 200px;
    height: 150px;
  } 

  #recept .checkbox-container{
    position: relative;
    font-size: 0.7rem;
    bottom: 30px;
    padding: 0px;
    left: 15px;
  }

  #recept ul li{
    font-size: 16px;
  }
}

@media(max-width:500px){
  .header{
      margin-left: -30px;
  }

  .checkbtn{
      margin-right: -20px;
  }
}

@media(max-width:365px){
  #selectedItemsContainer {
    display: block;
    flex-wrap: wrap;
  }

  #recept{
    width: 200px;
  }
}


