body{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/background-2);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.brain{
    width: 100%;
    height: 100vh;
    padding-left: 20%;
    padding-right: 8%;
}

h2{
  color: #000;
}

.foods{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px;
  padding: 20px;
  text-align: center;
}

.foods img{
  margin: 40px;
  width: 250px;
  border-radius: 20px;
  margin-top: 20px;
}

.foods2{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px;
  padding: 20px;
  text-align: center;
  margin-top: -100px;
}

.foods2 img{
  margin: 40px;
  width: 250px;
  border-radius: 20px;
  margin-top: 20px;
}

#recept {
  display: inline-block;
  vertical-align: top; /* Align the divs at the top */
  margin-right: 10px; /* Add some space between the divs */
}

/* media responsive */
@media(max-width:1276px){
  .foods img{
    width: 180px;
  }

  .foods h2{
    font-size: 25px;
  }

  .foods2 img{
    width: 180px;
  }

  .foods2 h2{
    font-size: 25px;
  }
}

@media(max-width:1000px){
  .foods img{
    width: 150px;
  }

  .foods h2{
    font-size: 20px;
  }

  .foods2 img{
    width: 150px;
  }

  .foods2 h2{
    font-size: 20px;
  }
}

@media(max-width:993px){
  .row{
      height: 50%;
  }

  .menu h2{
      font-size: 20px;


  }
  .card{
      width: 100px;
      height: 150px;
  }

  nav ul li{
      line-height: 80px;
  }

  .container2{
    margin-left: -100px;
  }

  .foods{
    display: block;
  }

  .foods2{
    display: block;
  }

  .foods img{
    width: 430px;
  }

  .foods2 img{
    width: 430px;
  }
}


@media(max-width:888px){
  .menu h2{
    font-size: 15px;
  }
  .foods{
    margin-top: 0px;
  }

  .foods2{
    margin-top: -150px;
  }


  .foods img{
    width: 350px;
  }
  .foods h2{
    font-size: 15px;
  }

  .foods2 img{
    width: 350px;
  }

  .foods2 h2{
    font-size: 15px;
  }

.menu h2{
    font-size: 30px;
}

nav ul li{
    line-height: 80px;
}
}

@media(max-width:800px){

  .foods img{
    width: 350px;
    margin: 20px;
  }

  .foods h2{
    font-size: 15px;
    color: #fff;
  }

  .foods2 img{
    width: 350px;
    margin: 20px;
  }

  .foods2 h2{
    font-size: 15px;
    color: #fff;
  }

.menu h2{
    font-size: 25px;
}

nav ul li{
    line-height: 80px;
}
}

@media(max-width:721px){
  .header ul li{
    padding: 10px;
  }

  .foods img{
    width: 300px;
    border-radius: 10px;
    margin: 15px;
  }

  .foods h2{
    font-size: 20px;
    color: #fff;
  }

  .foods2 img{
    width: 300px;
    margin: 20px;
    border-radius: 10px;
  }

  .foods2 h2{
    font-size: 20px;
    color: #fff;
  }

.menu h2{
    font-size: 20px;
}

nav ul li{
    line-height: 80px;
}
}

@media(max-width:645px){
  .header ul li{
    padding: 6px;
  }
  
  .foods img{
    width: 300px;
    border-radius: 10px;
    /* margin: 15px; */
  }

  .foods h2{
    font-size: 15px; 
    color: #fff;
    margin-left: -30px;
  }

  .foods2 img{
    width: 300px;
    /* margin: 15px; */
    border-radius: 10px;
  }

  .foods2 h2{
    font-size: 15px; 
    color: #fff;
    margin-left: -30px;
  }

.menu h2{
    font-size: 15px;
}

nav ul li{
    padding: 3px;
}
}

@media(max-width:595px){
  .foods{
    margin-left: 70px;
  }

  .foods2{
    margin-left: 70px;
  }

  .foods h2{
    font-size: 15px; 
    color: #fff;
    margin-right: -100px;
  }


  .foods2 h2{
    font-size: 15px; 
    color: #fff;
    margin-right: -100px;
  }
}

@media(max-width:500px){
  .header{
      margin-left: -30px;
  }

  .checkbtn{
      margin-right: -20px;
  }
}

@media(max-width:400px){
  .foods img{
    width: 260px;
    border-radius: 10px;

  }

  .foods h2{
    font-size: 15px; 
    color: #fff;
    margin-right: -130px;
  }

  .foods2 img{
    width: 260px;
    border-radius: 10px;
  }

  .foods2 h2{
    font-size: 15px; 
    color: #fff;
    margin-right: -130px;
  }

  .menu h2{
    font-size: 15px;
}
}